
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 98%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 210 40% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 210 40% 96%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 210 40% 55%;
    --radius: 0.5rem;
    --lunch-break-opacity: 0.06;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 67%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 67%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 67%;
    --primary: 25 88% 45%;
    --primary-foreground: 25 70% 95%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 47%;
    --accent: 43 55% 71%;
    --accent-foreground: 43 70% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 18%;
    --input: 0 0% 20%;
    --ring: 25 88% 45%;
    --lunch-break-opacity: 0.15;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-headline {
      font-family: var(--font-roboto);
      @apply font-thin;
  }
}

@layer utilities {
  .lunch-break-pattern {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsl(var(--border) / var(--lunch-break-opacity, 0.06)) 5px,
      hsl(var(--border) / var(--lunch-break-opacity, 0.06)) 10px
    );
  }
}

@layer components {
  /* Common setup for buttons in all themes */
  .light .bg-primary, 
  .dark .bg-primary {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(var(--primary));
    background-color: hsl(var(--primary));
    background-clip: padding-box;
    transition: all 0.2s ease-in-out;
  }

  /* Light Theme Gradient Effect */
  .light .bg-primary:hover,
  .light .bg-primary:focus-visible {
    border-color: transparent;
    background: linear-gradient(-113deg, hsl(var(--primary)), hsl(210 40% 96%)) border-box;
  }

  /* Dark Theme Gradient Effect */
  .dark .bg-primary:hover,
  .dark .bg-primary:focus-visible {
    border-color: transparent;
    background: linear-gradient(-113deg, hsl(var(--primary)), hsl(var(--accent))) border-box;
  }
}
